<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhita.dao.manage.CommodityMapper">
  <resultMap id="BaseResultMap" type="com.zhita.model.manage.Commodity">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="typeid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="commodityName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="commodityPicture" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="commodityIntroduce" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="commodityType" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="commodityPrice" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="commodityStatus" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sort" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="usefulLife" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="conservationGroups" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="deleted" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="operator" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="operationTime" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, typeid, commodityName, commodityPicture, commodityIntroduce, commodityType, commodityPrice, 
    commodityStatus, sort, usefulLife, conservationGroups, deleted, operator, operationTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from commodity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from commodity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhita.model.manage.Commodity">
    insert into commodity (id, typeid, commodityName, 
      commodityPicture, commodityIntroduce, commodityType, 
      commodityPrice, commodityStatus, sort, 
      usefulLife, conservationGroups, deleted, 
      operator, operationTime)
    values (#{id,jdbcType=INTEGER}, #{typeid,jdbcType=INTEGER}, #{commodityname,jdbcType=VARCHAR}, 
      #{commoditypicture,jdbcType=VARCHAR}, #{commodityintroduce,jdbcType=VARCHAR}, #{commoditytype,jdbcType=VARCHAR}, 
      #{commodityprice,jdbcType=VARCHAR}, #{commoditystatus,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{usefullife,jdbcType=VARCHAR}, #{conservationgroups,jdbcType=VARCHAR}, #{deleted,jdbcType=VARCHAR}, 
      #{operator,jdbcType=VARCHAR}, #{operationtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhita.model.manage.Commodity">
    insert into commodity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typeid != null">
        typeid,
      </if>
      <if test="commodityname != null">
        commodityName,
      </if>
      <if test="commoditypicture != null">
        commodityPicture,
      </if>
      <if test="commodityintroduce != null">
        commodityIntroduce,
      </if>
      <if test="commoditytype != null">
        commodityType,
      </if>
      <if test="commodityprice != null">
        commodityPrice,
      </if>
      <if test="commoditystatus != null">
        commodityStatus,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="usefullife != null">
        usefulLife,
      </if>
      <if test="conservationgroups != null">
        conservationGroups,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="operationtime != null">
        operationTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeid != null">
        #{typeid,jdbcType=INTEGER},
      </if>
      <if test="commodityname != null">
        #{commodityname,jdbcType=VARCHAR},
      </if>
      <if test="commoditypicture != null">
        #{commoditypicture,jdbcType=VARCHAR},
      </if>
      <if test="commodityintroduce != null">
        #{commodityintroduce,jdbcType=VARCHAR},
      </if>
      <if test="commoditytype != null">
        #{commoditytype,jdbcType=VARCHAR},
      </if>
      <if test="commodityprice != null">
        #{commodityprice,jdbcType=VARCHAR},
      </if>
      <if test="commoditystatus != null">
        #{commoditystatus,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="usefullife != null">
        #{usefullife,jdbcType=VARCHAR},
      </if>
      <if test="conservationgroups != null">
        #{conservationgroups,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operationtime != null">
        #{operationtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhita.model.manage.Commodity">
    update commodity
    <set>
      <if test="typeid != null">
        typeid = #{typeid,jdbcType=INTEGER},
      </if>
      <if test="commodityname != null">
        commodityName = #{commodityname,jdbcType=VARCHAR},
      </if>
      <if test="commoditypicture != null">
        commodityPicture = #{commoditypicture,jdbcType=VARCHAR},
      </if>
      <if test="commodityintroduce != null">
        commodityIntroduce = #{commodityintroduce,jdbcType=VARCHAR},
      </if>
      <if test="commoditytype != null">
        commodityType = #{commoditytype,jdbcType=VARCHAR},
      </if>
      <if test="commodityprice != null">
        commodityPrice = #{commodityprice,jdbcType=VARCHAR},
      </if>
      <if test="commoditystatus != null">
        commodityStatus = #{commoditystatus,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="usefullife != null">
        usefulLife = #{usefullife,jdbcType=VARCHAR},
      </if>
      <if test="conservationgroups != null">
        conservationGroups = #{conservationgroups,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operationtime != null">
        operationTime = #{operationtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhita.model.manage.Commodity">
    update commodity
    set typeid = #{typeid,jdbcType=INTEGER},
      commodityName = #{commodityname,jdbcType=VARCHAR},
      commodityPicture = #{commoditypicture,jdbcType=VARCHAR},
      commodityIntroduce = #{commodityintroduce,jdbcType=VARCHAR},
      commodityType = #{commoditytype,jdbcType=VARCHAR},
      commodityPrice = #{commodityprice,jdbcType=VARCHAR},
      commodityStatus = #{commoditystatus,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      usefulLife = #{usefullife,jdbcType=VARCHAR},
      conservationGroups = #{conservationgroups,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      operationTime = #{operationtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>