<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhita.dao.manage.OrderMapper">
  <resultMap id="BaseResultMap" type="com.zhita.model.manage.Order">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="orderNumber" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="userName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="contactWay" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="idCard" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="appointCompany" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="comment" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="businessLicense" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="commodityName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="companyId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="submitTime" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="realityPrice" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="operator" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="operationTime" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, orderNumber, userName, contactWay, idCard, appointCompany, comment, businessLicense, 
    commodityName, companyId, submitTime, realityPrice, operator, operationTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhita.model.manage.Order">
    insert into order (id, orderNumber, userName, 
      contactWay, idCard, appointCompany, 
      comment, businessLicense, commodityName, 
      companyId, submitTime, realityPrice, 
      operator, operationTime)
    values (#{id,jdbcType=INTEGER}, #{ordernumber,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{contactway,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, #{appointcompany,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR}, #{businesslicense,jdbcType=VARCHAR}, #{commodityname,jdbcType=VARCHAR}, 
      #{companyid,jdbcType=INTEGER}, #{submittime,jdbcType=VARCHAR}, #{realityprice,jdbcType=DECIMAL}, 
      #{operator,jdbcType=VARCHAR}, #{operationtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhita.model.manage.Order">
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ordernumber != null">
        orderNumber,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="contactway != null">
        contactWay,
      </if>
      <if test="idcard != null">
        idCard,
      </if>
      <if test="appointcompany != null">
        appointCompany,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="businesslicense != null">
        businessLicense,
      </if>
      <if test="commodityname != null">
        commodityName,
      </if>
      <if test="companyid != null">
        companyId,
      </if>
      <if test="submittime != null">
        submitTime,
      </if>
      <if test="realityprice != null">
        realityPrice,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="operationtime != null">
        operationTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ordernumber != null">
        #{ordernumber,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="contactway != null">
        #{contactway,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="appointcompany != null">
        #{appointcompany,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="businesslicense != null">
        #{businesslicense,jdbcType=VARCHAR},
      </if>
      <if test="commodityname != null">
        #{commodityname,jdbcType=VARCHAR},
      </if>
      <if test="companyid != null">
        #{companyid,jdbcType=INTEGER},
      </if>
      <if test="submittime != null">
        #{submittime,jdbcType=VARCHAR},
      </if>
      <if test="realityprice != null">
        #{realityprice,jdbcType=DECIMAL},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operationtime != null">
        #{operationtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhita.model.manage.Order">
    update order
    <set>
      <if test="ordernumber != null">
        orderNumber = #{ordernumber,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="contactway != null">
        contactWay = #{contactway,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        idCard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="appointcompany != null">
        appointCompany = #{appointcompany,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="businesslicense != null">
        businessLicense = #{businesslicense,jdbcType=VARCHAR},
      </if>
      <if test="commodityname != null">
        commodityName = #{commodityname,jdbcType=VARCHAR},
      </if>
      <if test="companyid != null">
        companyId = #{companyid,jdbcType=INTEGER},
      </if>
      <if test="submittime != null">
        submitTime = #{submittime,jdbcType=VARCHAR},
      </if>
      <if test="realityprice != null">
        realityPrice = #{realityprice,jdbcType=DECIMAL},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operationtime != null">
        operationTime = #{operationtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhita.model.manage.Order">
    update order
    set orderNumber = #{ordernumber,jdbcType=VARCHAR},
      userName = #{username,jdbcType=VARCHAR},
      contactWay = #{contactway,jdbcType=VARCHAR},
      idCard = #{idcard,jdbcType=VARCHAR},
      appointCompany = #{appointcompany,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      businessLicense = #{businesslicense,jdbcType=VARCHAR},
      commodityName = #{commodityname,jdbcType=VARCHAR},
      companyId = #{companyid,jdbcType=INTEGER},
      submitTime = #{submittime,jdbcType=VARCHAR},
      realityPrice = #{realityprice,jdbcType=DECIMAL},
      operator = #{operator,jdbcType=VARCHAR},
      operationTime = #{operationtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>